.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;

}

.main__options{
    display:flex;
    margin-bottom: 2rem;
}

.option{
    background:var(--gray-light);
    padding:1rem;
    color: var(--black-primary);
    cursor: pointer;
    text-align: center;
}

.option__active{
    background:var(--red-primary);
    color: var(--white-primary);
    border-radius: 0.5rem 0.5rem 1px 1px;
}

.catalog{
    display: grid;
    width:100%;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:2rem;
    justify-content: center;
    align-items:center;
}

@media screen and (max-width: 768px) {

}