.footer{
    display:flex;
    flex-direction: column;
    width:100%;
    background: var(--black-secundary);
    color: var(--gray-light);
    padding: 2rem 4rem 2rem 4rem;
}

.content{
    display: flex;
    width:100%;
    margin-bottom:2rem;
    gap:2rem;
}


.info__contact p{
display: flex;
align-items: center;
gap:0.5rem;
width:100%;
height: auto;
}

.info__options{
display:flex;
width:100%;
gap:4rem;
}

.info__option h3{
margin-bottom: 1.5rem;
    }

.footer__nav{
display: flex;
flex-direction: column;
align-items: start;
gap:1rem;
}

.link {
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    position: relative;
    font-weight: 200;
    color:var(--gray-light);
    transition: padding 0.2s ease;
  }

  .active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.1rem;
    background-color: var(--red-primary);
    transition: width 0.3s;
  }

  .active:hover::after {
    width: 100%;
  }



@media screen and (max-width: 768px) {
    .content{
        flex-direction:column;
    }

  }