.service__section{
    display: flex;
    flex-direction: column;
    width:100%;
    background: var(--white-primary);
    padding: 3rem 5rem;
    justify-content: center;
    align-items: center;
}

.p__principal{
   color: var(--black-primary);
   text-align: center;
   margin-bottom: 2rem;
   font-size: 1.1rem;
   animation: smoothAnimation 2s ease;
}

.service__section h3{
    color: var(--black-primary);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
 }

 .service__section h4{
    color: var(--black-primary);
    font-weight: 200;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
 }

 @keyframes smoothAnimation {
    0% {
      opacity: 0;
      /* transform: translateY(-40rem); */
      /* font-size: 0rem; */
    }
    100% {
      opacity: 1;
      /* font-size: 1.1rem; */
      /* transform: translateY(0);  */
    }
  }

 @media screen and (max-width: 768px) {
    .service__section{

        padding: 1rem 1rem;
    }
}