.section{
    display: flex;
    width: 100%;
    height: auto;
    gap:1rem;
    padding: 2rem 2rem 2rem 2rem;
    justify-content: center;
    align-items: center;
}

.google__maps{
    width: 50%;
    height: 25rem ;
}


@media screen and (max-width: 768px) {
  .section{
    flex-direction:column;
  }
  .google__maps{
    width: 100%;
}
  }