.card {
  display: flex;
  flex-direction: column;
  justify-contentl: center;
  align-items: center;
  width: 18rem;
  height: 20rem;
  color: var(--black-primary);
  background: var(--white-primary);
  text-align: center;

  border: 1px solid #ddd;
  /* box shadow */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2),
    -3px -3px 10px rgba(255, 255, 255, 0.8);
  padding: 1rem  0.5rem 0.5rem 0.5rem;
  border-radius: 0.2rem;
  border-bottom: 0.1rem solid var(--red-primary);
}

.img{
    background:red;
    border-radius:50%;
    overflow:hidden;
    border: 0.1rem solid var(--white-primary);
}

.card h2 {
  font-size: 1rem;
  font-weight: 500;
  min-height:3rem;
}

.card p {
  font-size: 0.8rem;
  min-height:8rem;
  color: var(--black-primary);
}

.card:hover{
    color: var(--white-primary);
    background: var(--black-primary);


    
}

.card:hover p{
    color: var(--white-primary);

}

@media screen and (max-width: 768px) {
   .card{ 
    min-width: 100%;
    height: auto;
}

    .card p {
        font-size: 0.9rem;
      }
}