
@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/CooperHewitt-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }