.button {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0.2rem 3rem;
  border-radius: 2rem 2rem 2rem 2rem;
  font-size: 0.9rem;
  box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
  border: 2px solid var(--red-primary);
}

.button__primary {
  background: var(--red-primary);
  color: var(--white-primary);
}

.button__primary:hover {
  cursor: pointer;
  background: var(--white-primary);
  color: var(--red-primary);
  border: 2px solid var(--white-primary);
}

.button__secundary {
  background: var(--white-primary);
  color: var(--red-primary);
}

.button__secundary:hover {
  cursor: pointer;
  background: var(--red-primary);
  color: var(--white-primary);
  border: 2px solid var(--white-primary);
}
