.button {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  width: 12rem;
  height: 3rem;
  padding: 0.2rem 3rem;
  border-radius: 2rem 2rem 2rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
  border: 2px solid var(--red-primary);
  text-decoration: none; 
  color: inherit;
  justify-content: center;
  align-items:center;
  transition: 
  background-color 0.3s, 
  transform 0.2s, 
  color 0.2s,
  border 0.2s;
}

.button__primary {
  background: var(--red-primary);
  color: var(--white-primary);
}

.button__primary:hover {
  cursor: pointer;
  background: var(--white-primary);
  color: var(--red-primary);
  border: 2px solid var(--white-primary);
  transform: scale(1);
}

.button__secundary {
  background: var(--white-primary);
  color: var(--red-primary);
  animation: pulse 1.5s infinite;
}

.button__secundary:hover {
  cursor: pointer;
  background: var(--red-primary);
  color: var(--white-primary);
  border: 2px solid var(--white-primary);
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@media screen and (max-width: 768px) {
    .button {
      
        width: max-content;
        padding: 0.2rem 3rem;
        border-radius: 2rem 2rem 2rem 2rem;
        font-size: 1.2rem;
        box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.2);
        border: 2px solid var(--red-primary);
      }
}